<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>Ecosphere | Cleaner Dashboard</title>
</head>
<body>
    <main>
        <nav>
            <div class="nl">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="nr">
                <a href="/">HOME</a>
                <a href="/residentLogin">RESIDENT</a>
                <a href="/cleanerLogin">CLEANER</a>
            </div>
        </nav>
        <div id="mpage1">
            <div id="mpg1-container">
                <h2>Welcome, <%= cleaner.fullName %></h2>
                <div id="map"></div>
            </div>
            
        </div>
        <div id="editFeature">
              <h2>Edit Your Details</h2>
              <form action="/cleaner/edit-details/" method="POST">
                <div id="label" class="label2">
                  <label>Full Name:</label>
                <input type="text" name="fullName" value="<%= cleaner.fullName || '' %>" required>
                </div>

              <div id="label" class="label2">
                <label>Mobile:</label>
                <input type="text" name="mobile" value="<%= cleaner.mobile || '' %>" required>

              </div>
                <div id="label" class="label2">
                  <label>Locality:</label>
                <input type="text" name="locality" value="<%= cleaner.locality || '' %>" required>
                </div>

                <div id="label" class="label2">
                  <label>City:</label>
                <input type="text" name="city" value="<%= cleaner.city || '' %>" required>
                </div>

                <div id="label" class="label2">
                  <label>State:</label>
                <input type="text" name="state" value="<%= cleaner.state || '' %>" required>
                </div>

                <button type="submit">Save Changes</button>
              </form>
            </div>
       <footer>
            <div id="footer-bg">
                <img src="/images/footer-bg3.png" alt="">
            </div>
            <div class="footer-section">  
                <div class="footer-line1">
                    <br><br><br><br><br>
                    <a href="#aboutPage">About Us</a>
                    <br>
                    <br>
                    <a href="#page2">Links</a>
                    <br>
                    <br>
                    <a href="#page3">Contact Us</a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="outerwraperimg">
                        <div class="image-twitter"></div>
                        <div class="image-instagram"></div>
                    </div>
                </div>
                <div class="linediv1"></div>
                <div class="footer-line2">
                    <h1 class="heading-updates"> Get Updates  </h1>
                    <p class="footer-bottomline"> We've cleaned up the clutter—one small click for a tidier web, one big step for a cleaner Earth</p>
                </div>
                <div class="linediv2"></div>
                <div class="footer-line3">
                    <p class="SendUsAMessage-footer" ></p>
                    <p class="developerfrom-footer">Team AESTA</p>
                    <div class="imglogo-fotter"></div>
                </div>
            </div>
            <div class="lastoutline-footer">
                <div class="lastoutline-footer-text">
                    <p >© 2025 Team AESTA. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/javascripts/cleanerMap.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>