<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>ECOSPHERE | CleanerLogin</title>
</head>
<body>
    <main>
        <nav>
            <div class="nl">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="nr">
                <a href="/">HOME</a>
                <a href="/residentLogin">RESIDENT</a>
                <a href="/cleanerLogin">CLEANER</a>
            </div>
        </nav>
        <div id="lpage1">
            <div id="lpg1-container">
                <h1>Cleaner Register</h1>
                <div id="contact-pg4">
                    <div class="contact-container">
                        <form action="/cleanerRegister" method="POST" class="contact-left">
                            <input type="text" name="fullName" placeholder="Full Name" value="<%= typeof fullName != 'undefined' ? fullName : '' %>" required><br>
                            <input type="text" name="mobile" placeholder="Mobile" value="<%= typeof mobile != 'undefined' ? mobile : '' %>" required><br>
                            <input type="text" name="locality" placeholder="Locality" value="<%= typeof locality != 'undefined' ? locality : '' %>" required><br>
                            <input type="text" name="city" placeholder="City" value="<%= typeof city != 'undefined' ? city : '' %>" required><br>
                            <input type="text" name="state" placeholder="State" value="<%= typeof state != 'undefined' ? state : '' %>" required><br>
                            <input type="text" name="username" placeholder="Username" value="<%= typeof username != 'undefined' ? username : '' %>" required><br>
                            <input type="password" name="password" placeholder="Password" required><br>
                            <input type="password" name="password2" placeholder="Confirm Password" required><br>

                            <button type="submit">Register</button>
                        </form>
                    </div>
                     <h2>Already have an account? <a href="/cleanerLogin">Login</a></h2>
                </div>
            </div>
        </div>
        <footer>
            <h2>©️2025 TEAM AVENGERS</h2>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>